<header class="site-header">
  <div class="header-inner">

    <a [routerLink]="['/']" class="site-logo">
      <img src="/imagine.png" alt="Logo" class="logo-icon" style="width: 120px; height: 120px; object-fit: contain;"/>
      <div class="logo-text">
        <span class="logo-name">hUBBedu</span>
        <span class="logo-tagline">Resurse pentru profesori</span>
      </div>
    </a>

    <nav class="navbar">
      <ul class="menu">

        <li class="menu-item">Informatică
          <ul class="dropdown">
            <li class="has-submenu">Clasa a IX-a
              <ul class="dropdown right">
                <li [routerLink]="['/clasa9a/programa-informatica']" style="cursor: pointer;">Programa</li>
                <li class="has-submenu">Planificări calendaristice
                  <ul class="dropdown right">
                    <li>Matematică-informatică</li>
                    <li [routerLink]="['/clasa9a/planificare-informatica-stiinte-ale-naturii']" style="cursor: pointer;">Științe ale naturii</li>
                    <li>Matematică-informatică cu predarea disciplinei informatică în regim intensiv</li>
                    <li>Matematică-informatică militară</li>
                  </ul>
                </li>
                <li>Proiecte ale unităților de învățare</li>
                <li class="has-submenu">Conținuturi
                  <ul class="dropdown right">
                    @for (item of continuturiInformatica; track item) {
                      <li [routerLink]="item.route" style="cursor: pointer;">{{ item.label }}</li>
                    }
                  </ul>
                </li>
              </ul>
            </li>
            <li class="has-submenu">Clasa a X-a
              <ul class="dropdown right">
                <li [routerLink]="['/clasa10a/programa-informatica']" style="cursor: pointer;">Programa</li>
                <li class="has-submenu">Planificări calendaristice
                  <ul class="dropdown right">
                    <li>Matematică-informatică</li>
                    <li>Științe ale naturii</li>
                    <li>Matematică-informatică cu predarea disciplinei informatică în regim intensiv</li>
                    <li>Matematică-informatică militară</li>
                  </ul>
                </li>
                <li class="has-submenu">Conținuturi
                  <ul class="dropdown right scrollable">
                    @for (item of continuturiInformatica10a; track item) {
                      <li [routerLink]="item.route" style="cursor: pointer;">{{ item.label }}</li>
                    }
                  </ul>
                </li>
              </ul>
            </li>
            <li [routerLink]="['/instrumente-digitale']" style="cursor: pointer;">Instrumente digitale</li>
          </ul>
        </li>

        <li class="menu-item">TIC
          <ul class="dropdown">
            <li class="has-submenu">Clasa a IX-a
              <ul class="dropdown right">
                <li [routerLink]="['/clasa9a/programa-tic']" style="cursor: pointer;">Programa</li>
                <li [routerLink]="['/clasa9a/planificare-tic']" style="cursor: pointer;">Planificări calendaristice</li>
                <li>Proiecte ale unităților de învățare</li>
                <li class="has-submenu">Conținuturi
                  <ul class="dropdown right">
                    @for (item of continuturiTIC; track item) {
                      <li [routerLink]="item.route" style="cursor: pointer;">{{ item.label }}</li>
                    }
                  </ul>
                </li>
              </ul>
            </li>
            <li class="has-submenu">Clasa a X-a
              <ul class="dropdown right">
                <li [routerLink]="['/clasa10a/programa-tic']" style="cursor: pointer;">Programa</li>
                <li [routerLink]="['/clasa10a/planificare-tic']" style="cursor: pointer;">Planificări calendaristice</li>
                <li class="has-submenu">Conținuturi
                  <ul class="dropdown right scrollable">
                    @for (item of continuturiTIC10a; track item) {
                      <li [routerLink]="item.route" style="cursor: pointer;">{{ item.label }}</li>
                    }
                  </ul>
                </li>
              </ul>
            </li>
            <li [routerLink]="['/instrumente-digitale-tic']" style="cursor: pointer;">Instrumente digitale</li>
          </ul>
        </li>

      </ul>
    </nav>

  </div>
</header>
